@tailwind base;
@tailwind components;
@tailwind utilities;

/* scroll bar */
@import 'simplebar-react/dist/simplebar.min.css';

.css-13ddxbb > * + * {
  margin: 0 !important;
}


/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
